@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&family=Lato:wght@400;700;900&family=Manrope:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700;900&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background: #F3F3F3;
}
#heading_title{
    text-align: center;
    margin: 20px 0;
}
.container{
    display: flex;
    justify-content: center;
    
}
.card_container{
    display: flex;
    flex-wrap: wrap;
    width: 960px;
}
.cart_container{
    width: 300px;
}
.card{
    background-color: white;
    width: 282px;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    border-radius: 10px;

}
.card img{
    width: 250px;
}
#select_btn{
    width: 100%;
    padding: 8px 0;
    border: 0;
    border-radius: 8px;
    background: #2F80ED;
    color: white;
    cursor: pointer;
}