*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 1px solid rgb(2, 3, 5);
    display: flex;
    justify-content: center;
    background: #F3F3F3;
}
.card_container{
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    border: 1px solid blue;
}
.cart_container{
    width: 300px;
    border: 1px solid orange;
}
.card{
    background-color: white;
    width: 282px;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    border-radius: 10px;

}
.card img{
    width: 250px;
}
#select_btn{
    width: 100%;
    padding: 6px;
}