.cart{
    margin: 15px;
    background-color: white;
    border-radius: 8px;
    padding: 15px;
}
hr{
    margin: 15px 0;
    color: rgb(255, 255, 255);
}

.course_name{
    margin-bottom: 15px;
}
.course_name_list{
    margin-left: 20px;
}